Jinja2==3.1.4
MarkupSafe==1.0
bottle==0.12.20
certifi==2023.7.22
chardet==3.0.4
cloudify-plugins-common==4.2
cloudify-rest-client==4.2
decorator==4.1.2
idna==3.7
networkx==2.0
pika==0.9.14
proxy-tools==0.1.0
requests==2.31.0
requests-toolbelt==0.8.0
urllib3==1.26.18
wsgiref==0.1.2
apache-ariatosca==0.2.0
